{% extends 'musicapp/base.html' %} {% block content %}
<!-- <h1>New post</h1> -->
<form method="POST" class="post-form">{% csrf_token %}



<div class="add_track_form" >

  <div class="col-sm-6">
      <section class="panel panel-default">
          <header class="panel-heading font-bold">Add Track</header>
          <div class="panel-body">
              <form role="form">
                  <div class="form-group">
                      <label>Title</label>
                       {{ form.title }}
                  </div>
                  <div class="form-group">
                      <label>Artist</label>
                      {{ form.artist }}
                  </div>

                  <div class="form-group">
                      <label>Genre</label><br>
                      
                      {{ form.genre }}
                  </div>

                  <button type="submit" class="btn btn-sm btn-default">Submit</button>
              </form>
          </div>
      </section>
  </div>

</div>


</form>

{% endblock %}
