.add_track_form{
  margin-top: 20px;
    /*margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;*/
}


div#one {
    width: 1%;

    float: left;
}
div#two {
    margin-left: 15%;


}
